In [2]:
import pandas as pd 

data = pd.read_csv('~/Downloads/Fall_2017_Employer_List_for_Packets.csv')

In [3]:
data.head()

,Employer,Booth #,Majors,Class Level,Employment Type
0,3M,"H240, H241, H242","Chem Eng, Comp Eng, Elec Eng, Info Syst, Mgmt ...","SO, JR, SR, MS, PhD","Full-time, Internship/Co-op"
1,ACS,S113,"Chem Eng, Civ Eng, Const Eng, Elec Eng, Ind & ...","JR, SR, MS, Alum","Full-time, Internship/Co-op"
2,Adjustable Forms Inc.,S128,"Civ Eng, Const Eng, Ind Tech","FR, SO, JR, SR",Internship/Co-op
3,Affiliated Engineers Inc.,H154,"Elec Eng, Mech Eng","JR, SR, MS, Alum","Full-time, Internship/Co-op"
4,Ag Leader Technology,S130,"Ag Eng, Comp Eng, Ag Syst Tech, Mech Eng, Soft...","JR, SR",Internship/Co-op

In [3]:
import requests
from bs4 import BeautifulSoup
import json

soft_companies = data[data['Majors'].str.contains("Soft Eng")]
masterlist = soft_companies[soft_companies['Employment Type'].str.contains("Full-time")]

In [4]:
df = pd.DataFrame(masterlist)
filename = './data/softCompanies2017.csv'
df.to_csv(filename, index=False, encoding='utf-8')

In [ ]:
requests.get